<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta charset="UTF-8">
<title>{% block title %}cctester测试圈首页{% endblock %}</title>
<meta name="keywords" content="cctester测试圈，技术前沿，行业时事，我们无话不谈！" />
<meta name="description" content="python，性能测试，devops等，一起行业布道！" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/info.css' %}" rel="stylesheet">
<link href="{% static 'css/about.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easyfader.min.js' %}"></script>
<link href="{% static 'css/m.css' %}" rel="stylesheet">


<!--[if lt IE 9]>
<script src="{% static 'js/modernizr.js' %}"></script>
<![endif]-->
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
    {% block custom_js %}{% endblock %}
</head>
<body>
<header>
  <div id="mnav">
    <h2><span class="navicon"></span></h2>
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="{% url "blog:blog_list" %}?type=1">专栏</a></li>
        <li><a href="{% url "news:news_list" %}">动态</a></li>
        <li><a href="{% url "about" %}">联系我</a></li>
    </ul>
  </div>
  <div class="topnav">
    <nav>
      <ul>
          <li><a href="/">首页</a></li>
          <li><a href="{% url "blog:blog_list" %}?type=1">专栏</a></li>
          <li><a href="{% url "news:news_list" %}">动态</a></li>
          <li><a href="{% url "about" %}">联系我</a></li>
      </ul>
    </nav>
  </div>
</header>
<article>
{% block content %}{% endblock %}
</article>
<footer>
  <p>Design by <a href="/">

  </a> <a href="/">苏ICP备18066576号</a></p>
</footer>
</body>
</html>